.alerty-img[data-v-70813d09]{width:52px!important;height:52px!important;margin-top:-10px!important;margin-right:2em!important}li[data-v-0a6ab2d8]{list-style-type:none}.text-orange[data-v-0a6ab2d8]{color:#f1633d!important}