/* Theme Name: Starto - Responsive Landing page template
   Author: Coderthemes
   Author e-mail: coderthemes@gmail.com
   Version: 1.7
   Created:Feb 2016
   File Description:Main CSS file of the template
*/

/*======= Reset ======== */
body {
  font-family: "Roboto", sans-serif;
  color: #4c5667;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}
::selection {
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}
::-moz-selection {
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}
a:hover,
a:focus,
.a:active {
  text-decoration: none;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

address {
  line-height: 24px;
  font-size: 13px;
}

iframe {
  max-width: 100%;
}

.frame-border {
  border: 5px solid rgba(0, 0, 0, 0.1);
  webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/*======= Helper classes ======== */
.section {
  padding-top: 100px;
  padding-bottom: 80px;
}

.bg-gray {
  background-color: #fafafa;
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}

.bg-img-1 {
  background: url("../images/bg1.jpg") center;
  background-size: cover;
  position: relative;
}

.bg-img-2 {
  background: url("../images/bg2.jpg") center;
  background-size: cover;
  position: relative;
}

.bg-gradient-1 {
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #5f2c82,
    #49a09d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #5f2c82,
    #49a09d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-2 {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24c6dc,
    #514a9d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24c6dc,
    #514a9d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-overlay {
  background: -webkit-linear-gradient(#444f5c, #334159);
  background: -moz-linear-gradient(#444f5c, #334159);
  background: -ms-linear-gradient(#444f5c, #334159);
  background: -o-linear-gradient(#444f5c, #334159);
  background: linear-gradient(#444f5c, #334159);
  opacity: 0.85;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.layout-dark {
  background-color: #2f3e47;
}

.title {
  font-weight: 300;
  line-height: 50px;
  margin-top: 0px;
}

.sub-title {
  color: #97a0af;
  margin-bottom: 50px;
}

.title-box h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.title-box .border {
  height: 4px;
  width: 60px;
  border-radius: 5px;
  margin: 0px auto 30px auto;
  border: none !important;
}

.title-box .title-alt {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 500;
  letter-spacing: 2px;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-t-30 {
  margin-top: 30px;
}

.padding-t-0 {
  padding-top: 0px;
}

.text-white {
  color: #ffffff !important;
}

.text-light {
  color: #d8d8d8 !important;
}

.text-muted {
  color: #97a0af !important;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}
/*======= Buttons ======= */
.btn {
  border-radius: 2px;
  padding: 8px 16px;
  outline: none !important;
}
.btn-sm {
  padding: 5px 10px !important;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
  color: #ffffff !important;
}

.btn-default {
  background-color: #dae6ec;
  border-color: #dae6ec;
}

.btn-default:focus {
  background-color: #dae6ec;
  border-color: #c2ced4;
}

.btn-default:hover {
  background-color: #dae6ec;
  border-color: #c2ced4;
}

.btn-default:active {
  background-color: #dae6ec;
  border-color: #c2ced4;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color: #dae6ec;
  border-color: #c2ced4;
}

.btn-success {
  background-color: #00b19d;
  border: 1px solid #00b19d;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
  background-color: #009886;
  border: 1px solid #009886;
}

.btn-info {
  background-color: #3ddcf7;
  border: 1px solid #3ddcf7;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  background-color: #25d8f6;
  border: 1px solid #25d8f6;
}

.btn-warning {
  background-color: #ffaa00;
  border: 1px solid #ffaa00;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning,
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open > .dropdown-toggle.btn-warning.focus,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning:hover {
  background-color: #e69900;
  border: 1px solid #e69900;
}

.btn-danger {
  background-color: #ef5350;
  border: 1px solid #ef5350;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
  background-color: #ed3c39;
  border: 1px solid #ed3c39;
}

.btn-inverse {
  background-color: #4c5667;
  border: 1px solid #4c5667;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #414a58;
  border: 1px solid #414a58;
}

.btn-rounded {
  border-radius: 2em;
  padding: 8px 22px;
}

.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}

.btn-shadow.btn-default {
  box-shadow: 1px 5px 9px rgba(33, 33, 33, 0.1);
}

.btn-shadow.btn-success {
  box-shadow: 1px 5px 9px rgba(0, 177, 157, 0.32);
}

.btn-shadow.btn-info {
  box-shadow: 1px 5px 9px rgba(61, 220, 247, 0.32);
}

.btn-shadow.btn-warning {
  box-shadow: 1px 5px 9px rgba(230, 153, 0, 0.32);
}

.btn-shadow.btn-danger {
  box-shadow: 1px 5px 9px rgba(237, 60, 57, 0.32);
}

.btn-shadow.btn-inverse {
  box-shadow: 1px 5px 9px rgba(76, 86, 103, 0.32);
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
  font-size: 14px;
}

/*======= Dropdown ======= */
.dropdown-menu {
  box-shadow: none;
  padding: 4px 0;
  border-radius: 4px !important;
  -webkit-animation: dropdownOpen 0.3s ease-out;
  -o-animation: dropdownOpen 0.3s ease-out;
  animation: dropdownOpen 0.3s ease-out;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.dropdown-menu > li > a {
  padding: 6px 20px;
  font-size: 15px !important;
  color: #ffffff;
}
@-webkit-keyframes dropdownOpen {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dropdownOpen {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* Back to top */
.back-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  text-align: center;
  z-index: 10000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.back-to-top i {
  color: #fff;
  font-size: 22px;
  display: block;
  line-height: 30px;
}

/*===== Navbar Custom ======*/

.navbar-custom {
  background-color: #ededed;
  width: 100%;
  border-radius: 0px;
  z-index: 999 !important;
  padding: 20px 0px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  color: #858585;
  font-size: 15px;
  margin: 10px 0px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 15px !important;
}

.dropdown-item:active {
  background-color: #f8f9fa;
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover {
  background-color: transparent;
}

.navbar-btn {
  padding: 4px 15px !important;
  font-size: 14px !important;
  margin-top: 9px !important;
  background-color: transparent !important;
  border: 2px solid #4c5667 !important;
  color: #4c5667 !important;
  border-radius: 5px;
}

.logo {
  font-weight: 500;
  font-size: 22px;
  color: #374760 !important;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.logo i {
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  width: 26px;
  color: #fff;
  padding: 0px 8px;
  text-align: center;
  border-radius: 3px;
}

.navbar-toggler {
  font-size: 30px;
}

.navbar-custom .btn-custom {
  margin-top: 8px;
  margin-left: 20px;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.sticky-wrapper {
  position: absolute;
  width: 100%;
}

.sticky-wrapper.is-sticky .navbar-custom {
  padding: 15px 0px !important;
}

/*======= Home =======*/

.home {
  position: relative;
  background-color: #ededed;
}

.home-wrapper {
  color: #374760;
  padding: 200px 0px 150px 0px;
}

.home-wrapper-sm {
  padding: 160px 0px 100px 0px;
}

.home-wrapper p {
  line-height: 24px;
  margin: 30px auto 40px auto;
  font-size: 16px;
  width: 85%;
}

/*======= Features =======*/

.service-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.service-item img {
  min-height: 55px;
  margin: 0px auto 24px auto;
  display: block;
}

.service-item .service-detail p {
  color: #9aa7af;
  line-height: 24px;
  width: 90%;
  margin: 10px auto;
}

.feature-detail ul li {
  margin-bottom: 10px;
}

.feature-detail ul li i {
  font-size: 18px;
}

.feature-detail .btn {
  margin-top: 25px;
}

.feature-detail .border {
  margin-left: 0px !important;
}

/* ======== Pricing ======= */

.pricing-column {
  position: relative;
  margin-top: 40px;
}

.pricing-column .inner-box {
  position: relative;
  max-width: 300px;
  margin: 0px auto;
  background-color: #fafafa;
  padding: 0px 0px 45px;
  border-radius: 5px;
  border: 2px solid #ededed;
}

.pricing-column .plan-header {
  position: relative;
  padding: 30px 20px 25px;
}

.pricing-column .plan-title {
  font-size: 13px;
  margin-bottom: 10px;
  color: #00b19d;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 20px;
}

.pricing-column .plan-price {
  font-size: 48px;
  margin-bottom: 10px;
  color: #435966;
  margin-top: 30px;
}

.pricing-column .plan-duration {
  font-size: 13px;
  color: #98a6ad;
}

.pricing-column .plan-stats {
  position: relative;
  padding: 30px 20px 15px;
}

.pricing-column .plan-stats li {
  margin-bottom: 15px;
  line-height: 24px;
}

.pricing-dark .inner-box {
  background-color: #253138;
  border: 2px solid #253138;
}

.pricing-dark .plan-price {
  color: #ffffff;
}

.pricing-dark .plan-stats li {
  color: #98a6ad;
}

/*======= Clients =======*/

.clients {
  border-top: 1px solid #ededed;
}

.clients img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.brand-item {
  display: inline-block;
  margin-left: 45px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.brand-item:first-child {
  margin-left: 0;
}

.brand-list {
  margin: 0;
  padding: 0;
}

.brand-list li {
  display: inline-block;
  text-align: left;
  padding-left: 50px;
}

.brand-list li:first-child {
  padding-left: 0;
}

.clients-dark {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/*======= Team ======*/

.team img {
  max-width: 240px;
  margin: 0px auto;
  background-color: #fafafa;
}

.team .team-member {
  margin: 30px 0px;
}

.team .team-member h4 {
  padding-top: 20px;
  margin-bottom: 5px;
}

.team .team-member p {
  font-weight: 500;
  margin-bottom: 0px;
}

/*======= FAQ ======*/

.question-q-box {
  height: 30px;
  width: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  float: left;
  line-height: 30px;
}

.question {
  margin-top: 0px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
}

.answer {
  margin-left: 40px;
  color: #9aa7af;
  margin-bottom: 40px;
}

/*======= Footer =======*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h5 {
  color: #333;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer a {
  color: #9aa7af;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-alt {
  border-top: 1px solid rgba(151, 160, 175, 0.2);
  margin-top: 30px;
  padding-top: 20px;
}

.footer-alt .logo {
  margin-bottom: 0px;
  height: auto;
  padding: 0px;
}

/* Footer small */
.footer-sm .logo {
  float: none;
}

.social-circle {
  margin-top: 50px;
}

.social-circle li a {
  height: 36px;
  width: 36px;
  color: #4c5667;
  border-radius: 50%;
  font-size: 16px;
  display: inline-block;
  line-height: 36px;
  background-color: #ededed;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-circle li a:hover {
  color: #ffffff !important;
}

.menu-list li a {
  color: #4c5667;
  display: inline-block;
  font-weight: 500;
  margin: 10px;
}

/* ======= About Us ========== */
.about-txt h3 {
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.about-txt {
  margin-left: 10px;
}

.fun_facts_box {
  float: left;
  width: 33.33%;
  padding-top: 15px;
}

.fun_facts_icons {
  display: block;
  padding-bottom: 10px;
  font-size: 32px;
}

.fun_facts_title {
  font-size: 14px;
  font-weight: 300;
  color: #656565;
  font-style: italic;
}

.fun_facts_title span {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: #454545;
}
.testimonials-txt {
  line-height: 30px;
  font-size: 16px;
}

/*======= Contact ======*/

.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 2px solid #cecece;
  height: 38px;
  font-size: 14px;
}
.form-control:hover,
.form-control:focus {
  border-color: #97a0af;
}

textarea.form-control {
  min-height: 100px;
}

.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
.con_sub_text {
  margin: 20px 0px;
  font-size: 15px;
}

.contact-detail-box {
  margin-bottom: 50px;
}

.contact-detail-box address {
  font-size: 14px;
}
.contact-map {
  background-color: #ededed;
}

/*======== Blog =======*/

.blog-section {
  padding-bottom: 30px;
}
.blog-post {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.blog-post .post-media {
  width: 100%;
  margin-bottom: 15px;
}
.blog-post .post-media img {
  opacity: 1;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-radius: 4px;
}
.blog-post .post-media img:hover {
  opacity: 0.7;
}
.blog-post .post-info {
  margin-bottom: 20px;
}
.blog-post .post-info .date {
  float: left;
  width: 50px;
  border: 2px solid #555;
  text-align: center;
  border-radius: 3px;
}
.post-info .date .day {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
.post-info .date .month {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.blog-post .meta {
  padding-left: 0px;
}
.blog-post .meta li {
  padding-right: 15px;
  color: #aaa;
  line-height: 22px;
  list-style: none;
}

.blog-post .meta li a {
  color: #337ab7;
}
.blog-post .meta li a:hover {
  color: #23527c;
}

.post-body p {
  color: #97a0af;
}
.blog-post .meta span {
  color: #333;
  font-size: 13px;
}
.blog-post .post-info .meta-container {
  padding-left: 65px;
}
.blog-post .post-info .meta-container a h3 {
  margin-top: 0px;
  color: #111;
  font-size: 16px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.blog-post .read-more {
  font-weight: 600;
  display: block;
  color: #666;
  font-size: 13px;
  letter-spacing: 0.03em;
}
.blog-wrapper .blog-item {
  width: 33.2%;
}
/* Blog-detail --*/
.blog-detail-box {
  padding-right: 30px;
}
.blog-detail-header span {
  padding: 0px 10px;
  font-size: 16px;
}
.blog-detail-header span a {
  color: #ffffff;
  font-size: 16px;
}
.blog-detail-header span i {
  padding-right: 5px;
}
.blog-detail .sub-title {
  margin-bottom: 0px;
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 10px;
}
.blog-detail .sub-tt {
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.custom-blockquote {
  border-left: 4px solid #374760;
  background: #eef2f5;
  line-height: 28px;
  font-size: 17px;
  font-style: italic;
}

.blockquote-reverse {
  border-right: 4px solid #374760;
  border-left: none;
  padding-left: 30px;
  line-height: 28px;
}
.blog_comments {
  margin-top: 60px;
  padding-bottom: 30px;
}
.media img {
  width: 52px;
  height: 52px;
}
.media-body a {
  float: right;
  font-size: 13px;
}
.media-body h6 {
  font-style: italic;
}

.widget-search i {
  position: absolute;
  top: 0;
  right: 30px;
  line-height: 38px;
  text-align: center;
  color: #999;
  font-size: 18px;
}

.widget-search input {
  padding-right: 40px;
}

.widget-search a i:hover {
  color: #374760;
}

.nav-list {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
}
.nav-list li {
  padding: 7px 0px;
  width: 100%;
}
.nav-list li a {
  font-weight: 600;
}
.nav-list li a:hover {
  color: #333b4d;
}
.tags {
  padding-bottom: 30px;
}

.tags a {
  font-size: 11px;
  line-height: 30px;
  color: #90979f;
  background: #e6edf2;
  padding: 5px 12px;
  margin-right: 2px;
  border-radius: 3px;
}
.tags a:hover {
  color: #fff;
  background: rgba(51, 59, 77, 0.7);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Home Form */
.home-form-left {
  padding: 170px 0 130px 0;
}
.home-form-left .home-wrapper {
  padding: 0;
}
.home-form-left h2 {
  line-height: 42px;
  margin-top: 40px;
}
.home-form-left p {
  width: 100%;
  line-height: 26px;
}

/* Intro Form */
.intro-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  border: 3px solid #eae7e7;
}

.intro-form h3 {
  color: #949799;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}

.intro-form input {
  border: 1px solid #eee;
  height: 38px;
  box-shadow: none !important;
  font-size: 14px;
}

.intro-form .form-group:last-of-type {
  margin-bottom: 0;
}

/* Home Boxed */
.layout-boxed {
  background: url("../images/photography.png");
}
.layout-boxed body {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
}
.layout-boxed body,
.layout-boxed .navbar-custom {
  max-width: 1300px;
  margin: 0 auto;
}

.bg-dark {
  background-color: #2f3e47 !important;
}

/* Subscribe Form */

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.subscribe-form input {
  padding: 15px 20px;
  width: 100%;
  font-size: 17px;
  border: none;
  outline: none !important;
  padding-right: 150px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.subscribe-form button {
  position: absolute;
  top: 4px;
  right: 4px;
  outline: none !important;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #374760;
  padding: 11px 30px;
}

/*======= Responsive ======*/
@media (min-width: 768px) {
  .nav-custom-left {
    margin-left: 5%;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-page .col-sm-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .screen-space {
    margin: 0px auto 50px auto;
  }
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
  .footer h5 {
    margin-top: 30px;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-toggle {
    font-size: 30px;
  }
  .navbar-toggler {
    position: relative;
    float: right;
    margin: 7px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: #4c5667;
    outline: none !important;
    padding: 0px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrapper .blog-item {
    width: 50%;
  }
  .navbar-custom .navbar-nav li a {
    font-size: 12px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .blog-wrapper .blog-item {
    width: 100%;
  }
  .logo {
    margin: 7px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
  .intro-form,
  .video-bar {
    margin-top: 50px;
  }
  .pull-none {
    float: none !important;
    text-align: center;
  }
  .footer-alt .logo {
    margin-bottom: 18px;
  }
}

.navbar-custom {
  background-color: #fff !important;
}

.bg-orangered {
  background-color: #f39200;
}

.timonial {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

.testimonial blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fcfcfc;
  padding: 30px 50px 65px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.testimonial blockquote:before {
  content: open-quote;
  font-size: 2rem !important;
  opacity: 0.3;
}
.testimonial blockquote:after {
  content: close-quote;
  font-size: 2rem !important;
  opacity: 0.3;
}

.author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #fff;
  padding: 0 35px;
  position: relative;
  z-index: 0;
}

.author img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 60%;
}

.testimonial .author h5 {
  text-transform: capitalize;
  bottom: 60%;
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: #444f60;
}

.testimonial .author h5,
.testimonial .author span {
  left: 50%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}

.bg-darkslategray {
  background-color: #444f60;
  color: white;
}

.media img {
  width: 100px !important;
  height: 100px !important;
  margin-top: -25px !important;
}

.level-item {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
